<div class="container">
	<div class="text-center calculator-wrapper col-8 offset-2">
		<input [(ngModel)]="display" class="text-right col-12 form-control" disabled type="text">

    <div class="mt-3 row">
      <div class="btn-wrapper col-12">
        <button *ngFor="let botao of teclas" [ngClass]="{'btn-danger':!isNumber(botao)
        }" (click)="addDigito(botao)" class="col-3 btn btn-secondary" type="button">{{botao}}</button>
      </div>
    </div>

    <div class="mt-1 row">
      <div class="col-12">
        <button (click)="ce()" class="col-6 btn btn-primary">CE</button>
        <button (click)="calcular()" class="col-6 btn btn-success">=</button>
      </div>  
    </div>
    
  </div>
  <div class="row mt-4 text-center">
    <app-log class="col-8 offset-2"></app-log>
  </div>
</div>